
body {
  background-color: rgb(243, 243, 243);
}

.main {
  padding-left: 30px;
  padding-right: 30px;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

.footer {
  padding-left: 30px;
  padding-right: 30px;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

.header {
  background-color: #fe0500;
}

.wrapper {
  background-color: white;
}

.header-container {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 15px;
  font-family:
    "Roboto Condensed",
    sans-serif;
}

.center-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right-header {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  padding-right: 20px;
}

.right-header > * {
  margin-right: 10px;
}

.left-header > * {
  margin-left: 20px;
}

.left-header {
  margin-top: 30px;
  color: white;
}

.sign-in {
  color: white;
  font-weight: bold;
}

.sub {
  color: #fe0500;
  font-weight: bold;
  background-color: white;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.fa-bars {
  color: rgb(236, 236, 236, 0.7);
  font-size: 25px;
}

img[alt="NWLogo"] {
  width: 70%;
}

img[alt="FooterLogo"] {
  width: 40%;
}

.navigation {
  background-color: white;
}

.navbar-nav > a {
  border-right: 1px solid rgb(219, 219, 219);
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.navbar-nav > a:last-child {
  border: none;
}

.navbar-toggler-icon {
  color: black;
}

.form-inline {
  flex-flow: row nowrap;
}

.search-input {
  width: 80px;
  border: none;
}

.nav-toggler-div {
  display: flex;
  align-items: center;
}

.article {
  padding-left: 0;
}

.middle-article {
  padding-left: 0;
  padding-right: 0;
}

h6 {
  color: gray;
  margin-bottom: 20px;
  font-family:
    "Roboto Condensed",
    sans-serif;
}

.thumbnail-container {
  position: relative;
  padding: 0;
}

.thumbnail,
.opinion-thumbnail {
  width: 100%;
  padding: 0;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(211, 209, 209, 0.9);
  color: red;
  font-weight: bold;
  padding: 10px;
}

.article-title {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.image-link {
  display: block;
  width: 100%;
}

.summary {
  color: black;
}

.navbar {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.culture {
  background-color: #f0f0f0;
  padding-left: 0;
  padding-right: 0;
}

.culture h6 {
  padding: 15px 20px;
  margin-bottom: 0;
}

.more {
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 20px;
}

.more h6 {
  padding: 20px 0;
  margin-bottom: 0;
}

.more-thumbnail,
.opinion-thumbnail {
  padding-left: 0;
  padding-right: 0;
}

.opinion {
  margin-left: 15px;
}

.opinion h6 {
  padding: 5px 0;
}

.opinion-title {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

@media only screen and (min-width: 992px) {
  .nav-toggler-div {
    display: none;
  }

  .wrapper {
    width: 90%;
  }

  .nav-row {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav > a {
    border: none;
    display: flex;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-row {
    display: flex;
    justify-content: flex-end;
  }

  .center-header {
    width: 40%;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
  }

  img[alt="NWLogo"] {
    width: 150px;
    margin-left: 10px;
  }

  .right-header {
    width: 60%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 575px) {
  .opinion-thumbnail {
    width: 10%;
  }

  .opinion-summary {
    width: 90%;
  }
}
